@page
@model Pigeon.Pages.DataMiningModel

<div class="row">
    <h1 class="text-danger">Data Mining Project</h1>
    <form class="w-100" asp-page="DataMining" method="post" id="data-mining-form">
        <div class="col-md-4">
            <label class="clr-dark-100 t-14" asp-for="Input">Input</label>
            <input class="p-input p-input--primary" id="data-mining-input" type="text" asp-for="Input" placeholder="wirite your keyword" />
            <button class="p-btn p-btn--primary fw-bold w-100 mt-45" type="submit">
                Submit
            </button>   
        </div>
    </form>
</div>