@page
@model IndexModel
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}
<div class="container mt-5">
    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
{
    <partial name="_AdminIndexPage" />
}
else if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Specialist"))
{
    <partial name="_SpecialistIndexPage" />
}
</div>

