@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="d-flex flex-column privacy-parent-container">
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="privacy-container">
        <p>Welcome to our Crawler Project's Privacy Policy page. This page informs you of our policies regarding the collection, use, and disclosure of personal information we receive from users of our project.</p>

        <h2>Data Collection and Usage</h2>
        <p>We may collect and store the following information when you use our crawler:</p>
        <ul>
            <li>URLs and website content for crawling purposes.</li>
            <li>Anonymized usage statistics to improve our service.</li>
        </ul>
        <p>We use the collected data to:</p>
        <ul>
            <li>Improve and optimize the performance of our crawler.</li>
            <li>Enhance user experience and deliver relevant content.</li>
            <li>Generate aggregated statistics for analysis.</li>
        </ul>

        <h2>Information Security</h2>
        <p>We prioritize the security of your personal information and take reasonable steps to protect it. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure.</p>

        <h2>Cookies</h2>
        <p>We use cookies to enhance your experience while using our crawler. You can adjust your browser settings to refuse cookies or alert you when cookies are being sent.</p>

        <h2>Your Choices</h2>
        <p>You have the right to:</p>
        <ul>
            <li>Request access to the personal information we hold about you.</li>
            <li>Request correction of any inaccurate information.</li>
            <li>Request the deletion of your personal data, subject to legal limitations.</li>
        </ul>

        <h2>Changes to this Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:contact@example.com">contact@example.com</a>.</p>
    </div>
</div>

</div>