@page
@model Pigeon.Pages.Tickets.DetailsModel

<div class="t-login h-vh form-container">
    <section class="t-login__container px-3 py-sm-auto">
        <form asp-page="Ticket/Details" method="post">
            <input asp-for="TicketDto.LogRequestId" hidden="hidden" />
            <input asp-for="TicketDto.Id" hidden="hidden" />
            <input asp-for="TicketDto.AssignedTo" hidden="hidden" />

            <h1 class="t-24 clr-dark-100 fw-bold text-center mt-2">Ticket Detail: @Model.TicketDto.Id</h1>
            <hr />
            <div class="inputs-container">
                <div class="d-flex flex-column">
                    <label class="clr-dark-100 t-14" asp-for="TicketDto.AdminComment">Comment</label>
                    <input class="p-input p-input--primary" type="text" asp-for="TicketDto.AdminComment" placeholder="wirite your comment" />
                </div>
                <div class="d-flex flex-column">
                    <label class="clr-dark-100 t-14" asp-for="TicketDto.Result">Result</label>
                    <input class="p-input p-input--primary" type="text" asp-for="TicketDto.Result" placeholder="wirite the result" />
                </div>
                <div class="d-flex flex-column">
                    <label class="clr-dark-100 t-14" asp-for="TicketDto.Status">Status</label>
                    <select  asp-for="TicketDto.Status" asp-items="@Model.TicketDto.AvalibleStatus">
                        <option value="">system felow status?</option>
                    </select>
                </div>
                <div class="submit-button-container">
                    <button id="update-profile-button" type="submit" class="p-btn p-btn--primary fw-bold mt-45">Save</button>
                </div>
            </div>
        </form>
    </section>
</div>
