@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="t-login h-vh form-container">
    <section class="t-login__container px-3 py-sm-auto">
        <h1 class="t-24 clr-dark-100 fw-bold text-center mt-2 text-danger">Access denied</h1>
        <p class="t-24 clr-dark-100 fw-bold text-center mt-2 text-danger">You do not have access to this resource.</p>
    </section>
</div>