@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="t-login h-vh form-container">
    <section class="t-login__container px-3 py-sm-auto">
        <form id="account" method="post">
            @*            <div class="text-center">

            <a href="#">

            <img src="/images/core/logo.png" alt="sunmiveh.com | سان میوه" width="72" height="56">

            </a>
            </div>*@
            <h1 class="t-24 clr-dark-100 fw-bold text-center mt-2">Login</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="inputs-container">
                <div class="d-flex flex-column">
                    <label class="clr-dark-100 t-14" asp-for="Input.Email">Email</label>
                    <input class="p-input p-input--primary" type="email" asp-for="Input.Email" placeholder="1234@gmail.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="d-flex flex-column">
                    <label class="clr-dark-100 t-14" asp-for="Input.Password">Password</label>
                    <input class="p-input p-input--primary" type="password" asp-for="Input.Password" placeholder="******" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="submit-button-container">
                    <button class="p-btn p-btn--primary fw-bold mt-45" type="submit">
                        Submit
                    </button>
                </div>
                <div class="resend-buttons-container">
                    <a class="p-btn w-100 t-14 clr-dark-100 border-light-1 rounded-12 mt-2" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    <a class="p-btn w-100 t-14 clr-dark-100 border-light-1 rounded-12 mt-2" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </div>
            </div>
        </form>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
