@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div class="t-login h-vh form-container">
    <section class="t-login__container px-3 py-sm-auto">
        <h1 class="t-24 clr-dark-100 fw-bold text-center mt-2">Log out</h1>
        <hr />

        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form class="w-100" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <div class="submit-button-container">
                        <button type="submit" class="p-btn p-btn--primary fw-bold mt-45">Click here to Logout</button>
                    </div>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </section>
</div>
