@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="t-login h-vh form-container">
    <section class="t-login__container px-3 py-sm-auto">
        <h1 class="t-24 clr-dark-100 fw-bold text-center mt-2">Resend email confirmation</h1>
        <h3 class="t-24 clr-dark-100 fw-bold text-center mt-2">Enter your email</h3>
        <hr />

        <form method="post">
            <div class="inputs-container">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="submit-button-container">
                    <button type="submit" class="p-btn p-btn--primary fw-bold mt-45">Resend</button>
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
